/* applied to everything on page */
* {
  background-color: #ebebf6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* header styling starts here */
/* header styling */
/* bg color, padding on top and bottom
display setting, content separation, and align items in center */
header {
  background-color: #25272b;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* h1 in header styling
display setting, font size, and bg color
padding on left and right and text color change */
header h1 {
  display: inline-block;
  font-size: 48px;
  background-color: #689395;
  padding-left: 35px;
  padding-right: 15px;
  color: #26272d;
}

/* nav styling
float to right and bg color
padding on top and right */
header nav {
  float: right;
  background-color: #25272b;
  padding-top: 15px;
  padding-right: 15px;
}

/* a tag for font change with size, color, bolding and padding
and bg change */
header a {
  font-size: 20px;
  margin-left: 25px;
  color: #669092;
  background-color: #25272b;
  font-weight: bold;
  padding: 5px;
}

/* styling when a tag gets hover
change in text color and background color */
header a:hover {
  color: #25272b;
  background-color: #669092;
  text-decoration: none;
  padding: 5px;
}

/* heading image section */
.heading-image {
  height: 300px;
  width: 100%;
  background-image: url("../images/image-placeholder-500x500.jpg");
  background-size: cover;
  background-position: center;
}
/* header section ends here */

/* main section starts here */
/* image in main, my photo */
#me {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
}

#about-section {
  display: flex;
  margin: 40px;
}

#work-section {
  display: flex;
  margin: 40px;
  justify-content: space-between;
}

#project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* changed image size to better fit into the page */
.main-project {
  max-width: 1010px;
}

.sub-project {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

#project-name {
  background-color: #87c5c7;
}

#contact-section {
  display: flex;
  margin: 40px;
}

h2,
h3 {
  font-size: 30px;
  color: #3c4e6c;
}

img {
  border-style: solid;
  border-width: 10px;
  border-color: #87c5c7;
}
/* main section ends here */

/* to all p tags in main and footer */
p {
  font-size: 20px;
  color: #3c4e6c;
}

/* footer starts here */
footer {
  padding: 30px;
  clear: both;
  text-align: center;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* contact section to fit links nicely (the a tags) */
#contact-section {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

footer h4 {
  display: inline-block;
  color: #3c4e6c;
  font-size: 40px;
  border: 10px;
}

/* specifically for footer p and a tag */
footer p,
footer a {
  display: inline-block;
  color: #3c4e6c;
  margin: 15px;
  font-size: 20px;
  padding: 5px;
  flex-wrap: wrap;
}

/* a tags in footer when hovered
text color and bg color, remove decoration (bullet point) and add padding */
footer a:hover {
  color: #ebebf6;
  background-color: #3c4e6c;
  text-decoration: none;
  padding: 5px;
}
/* footer ends here */

/* different media size */
/* they are designed to adjust little bit from the original css and to better fit into the page */
@media screen and (max-width: 1200px) {
  .main-project {
    max-width: 710px;
  }
}

@media screen and (max-width: 1000px) {
  .main-project {
    max-width: 610px;
  }
}

@media screen and (max-width: 768px) {
  /* flex direction changed */
  header,
  main,
  footer {
    flex-direction: column;
    align-items: center;
  }

  .heading-image {
    max-width: 700px;
  }

  header a {
    margin: 5px;
  }

  /* flex direction changed */
  #work-section {
    flex-direction: column;
    align-items: center;
  }

  .main-project {
    flex: 1 1 100%;
    width: 510px;
    height: 510px;
  }

  .sub-project {
    flex-direction: column;
    align-items: center;
    flex: 1 1 100%;
    align-content: center;
  }

  #about,
  #work,
  #me {
    margin: 10px;
  }

  /* flex direction changed */
  #about-section {
    flex-direction: column;
    align-items: center;
  }

  /* flex direction changed */
  footer h4 {
    margin: 0px;
    border: 0px;
    flex-direction: column;
    align-items: center;
  }

  /* flex direction changed */
  footer p,
  footer a {
    flex-direction: column;
    align-items: center;
  }
}
